.noir {
    background-color: #2d3436;
}

.rouge {
    background-color: #c0392b;
}

header, footer {
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.filter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    top: 45%;
    bottom: auto
}

.carousel-caption h5 {
    font-size: 45px;
}

section {
    background-color: #2d3436;
    color: #fff;
}

h2 {
    border-bottom: 8px double #fff;
}

img {
    max-width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}