body {
    background-color: #eeeeee;
}

.bg-white {
    background-color: #ffffff;
}

.bg-purple {
    background-color: #8e44ad;
    color: #fff
}

ul {
    padding: 0;
}

li {
    list-style: none;
}